# Dependencies
/node_modules
/Frontend/node_modules
/Backend/node_modules

# Environment variables
.env
/Backend/.env

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Expo
/Frontend/.expo/
/Frontend/dist/
/Frontend/web-build/

# Build files
/Frontend/build/
/Backend/build/

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp